body {

  background-repeat: no-repeat;
  background-size: cover;

}

img {
  width: 20%;
  height: auto;
}



@media screen and (max-width: 767px) {
  .container {
    height: auto;
    flex-direction: column;
  }

  nav {
    margin-top: 20px;
    display: none;
    width: 100%;
  }

  nav.active {
    display: flex;
    flex-direction: column;
  }

  .hamburger {
    display: block;
  }
}

#img1 {

  width: 500px;
  height: 600px;
  position: absolute;
  left: 130px;
  top: 200px;

}

#img2 {

  width: 500px;
  height: 600px;
  position: absolute;
  left: 1200px;
  top: 200px;
}

#titulo {

  top: 850px;
  position: absolute;
  left: 300px;
  color: #fff;

}



#User {

  width: 200px;
  height: 300px;
  right: 100px;
  top: 15px;
  position: absolute;
}

#entrenamiento {

  right: 1000px;
  top: 850px;
  position: absolute;
  color: #fff;

  @font-face {
    font-family: 'BloomMondayDemo';
    src: url('font/BloomMondayDemo.ttf');
  }

}

#titulo2 {

  top: 850px;
  position: absolute;
  left: 1400px;
  color: #fff;
}


/* Estilos para la tabla */
table {
  border-collapse: collapse;
  width: 100%;
}

thead th {
  background-color: #8d8d8d;
  color: #FFFFFF;
}

tbody tr:nth-child(odd) {
  background-color: #FFFFFF;
}

tbody tr:nth-child(even) {
  background-color: #9f9ca3;
}

th,
td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

/* Estilos para los encabezados de la tabla */
thead th {
  font-weight: bold;
}

/* Estilos para las celdas de la primera columna de la tabla */
tbody td:first-child {
  font-weight: bold;
}

/* Estilos para las filas impares de la tabla */
tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

/* Estilos para las celdas de la última columna de la tabla */
tbody td:last-child {
  text-align: center;
}

.table-container {
  margin-top: 150px;
}

#logo {
  width: 65px;
  height: 45px;
}

a {
  color: black;
}