table {
  width: 90%;
  margin-top: 25px;
}

thead th {
  background-color: #CBCECE;
  color: #FFFFFF;
}

tbody tr:nth-child(odd) {
  background-color: #FFFFFF;
}

tbody tr:nth-child(even) {
  background-color: #CBCECE;
}

td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  text-align: center;
  padding: 8px;
}

/* Estilos para los encabezados de la tabla */
thead th {
  font-weight: bold;
}

/* Estilos para las celdas de la primera columna de la tabla */
tbody td:first-child {
  font-weight: bold;
}

/* Estilos para las filas impares de la tabla */
tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

#logo {
  width: 65px;
  height: 45px;
}

a {
  color: black;
}

.navbar-nav .nav-link:hover {
  color: #56DBFF;
}