body {
    background-image: url('img/imagen.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    backdrop-filter: blur(30px);
    border-bottom: 1px solid #eee;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo {
    margin-top: -10px;
    margin-left: -40px;
    width: 230px;
    height: 136px;
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
    margin-right: 20px;
}

nav a {
    color: #eee;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}

nav a:hover {
    color: #f00;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #333;
    margin-bottom: 5px;
}

@media screen and (max-width: 767px) {
    .container {
        height: auto;
        flex-direction: column;
    }

    nav {
        margin-top: 20px;
        display: none;
        width: 100%;
    }

    nav.active {
        display: flex;
        flex-direction: column;
    }

    .hamburger {
        display: block;
    }
}

#img1 {

    width: 500px;
    height: 600px;
    position: absolute;
    left: 130px;
    top: 200px;

}

#img2 {

    width: 500px;
    height: 600px;
    position: absolute;
    left: 1200px;
    top: 200px;
}

#titulo{

    top: 850px;
    position: absolute;
    left: 300px;
    color: #fff;

}



#User {

    width: 200px;
    height: 300px;
    right: 100px;
    top: 15px;
    position: absolute;
}

#entrenamiento {

    right: 1000px;
    top: 850px;
    position: absolute;
    color: #fff;
    @font-face {
        font-family: 'BloomMondayDemo';
        src: url('font/BloomMondayDemo.ttf');
    }

}

#titulo2 {

    top: 850px;
    position: absolute;
    left: 1400px;
    color: #fff;
}


/* Estilos para la tabla */
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  thead th {
    background-color: #6B5B95;
    color: #FFFFFF;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #FFFFFF;
  }
  
  tbody tr:nth-child(even) {
    background-color: #794eb3;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  /* Estilos para los encabezados de la tabla */
  thead th {
    font-weight: bold;
  }
  
  /* Estilos para las celdas de la primera columna de la tabla */
  tbody td:first-child {
    font-weight: bold;
  }
  
  /* Estilos para las filas impares de la tabla */
  tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  
  /* Estilos para las celdas de la última columna de la tabla */
  tbody td:last-child {
    text-align: center;
  }.table-container {
    margin-top: 150px;
  }