#fondo {
  margin-left: 5px;
}

img {
  width: 20%;
  height: auto;
}

.carousel {
  height: 50%;
}

.carousel-item img {
  max-height: 550px;
}

#fondo {
  margin-left: 170px;
  /* ajusta este valor según lo que necesites */
}

#logo {
  width: 65px;
  height: 45px;
}

a {
  color: black;
}

body{

  background-color: bg-info;
}
.titulo{
  margin-bottom: 30px;
  color: white;
}