body {
    background-image: url('img/login.jpg');
    background-size: cover;
}

.nuevo {
    position: absolute;
    right: 505px;
    top: -9px;
    font-family: Helvetica, sans-serif;
}

#nombre {
    position: absolute;
    right: 608px;
    top: 65px;
    border: 1px solid black;
}

.nombre {
    position: absolute;
    top: 95px;
    right: 156px;
    width: 525px;
    height: 45px;
    padding-left: 10px;
    border: 2px solid black;
    font-size: 18px;
}

#apellidos {
    position: absolute;
    right: 599px;
    top: 160px;
    border: 1px solid black;
}

.apellidos {
    position: absolute;
    top: 191px;
    right: 156px;
    width: 525px;
    height: 45px;
    padding-left: 10px;
    border: 2px solid black;
    font-size: 18px;
}

#correo {
    position: absolute;
    right: 532px;
    top: 255px;
    border: 1px solid black;
}

.correo {
    position: absolute;
    top: 286px;
    right: 156px;
    width: 525px;
    height: 45px;
    padding-left: 10px;
    border: 2px solid black;
    font-size: 18px;
}

#contraseña {
    position: absolute;
    right: 582px;
    top: 350px;
    border: 1px solid black;
}

.contraseña {
    position: absolute;
    top: 381px;
    right: 156px;
    width: 525px;
    height: 45px;
    padding-left: 10px;
    border: 2px solid black;
    font-size: 18px;
}

.sexo {
    position: absolute;
    top: 425px;
    right: 478px;
    font-family: Arial, Helvetica, sans-serif;
}

.hombre {
    position: absolute;
    top: 480px;
    right: 670px;
    height: 22px;
    width: 22px;
}

#hombre {
    position: absolute;
    top: 468px;
    right: 600px;
    font-family: Arial, Helvetica, sans-serif;
}

.mujer {
    position: absolute;
    top: 480px;
    right: 500px;
    height: 22px;
    width: 22px;
}

#mujer {
    position: absolute;
    top: 468px;
    right: 445px;
    font-family: Arial, Helvetica, sans-serif;
}

.registro {
    position: absolute;
    top: 525px;
    right: 156px;
    width: 540px;
    height: 45px;
    padding-left: 10px;
    background-color: black;
    color: white;
    border-width: 0px;
    font-size: 18px;
    font-family: sans-serif;
}

hr {
    position: absolute;
    top: 576px;
    width: 539px;
    right: 156px;
    color: darkgray;
}

.bienvenida {
    position: absolute;
    right: 339px;
    top: 574px;
    font-family: Arial, Helvetica, sans-serif;
}

.login {
    position: absolute;
    font-weight: bold;
    color: black;
    background-color: white;
    top: 640px;
    right: 156px;
    width: 540px;
    height: 45px;
    border: 2px solid black;
    font-family: sans-serif;
    font-size: 15px;
}