#logo {
    width: 65px;
    height: 45px;
}

a {
    color: #808080;
}

.navbar-nav .nav-link:hover {
    color: #56DBFF;
}

#active {
    color: black;
}

.navbar-nav #active:hover {
    color: #56DBFF;
}