body {
    background-color: #0d0d0d;


}

#img1 {

    width: 500px;
    height: 600px;
    position: absolute;
    left: 130px;
    top: 200px;

}

#img2 {

    width: 500px;
    height: 600px;
    position: absolute;
    left: 1200px;
    top: 200px;
}

#titulo{

    top: 850px;
    position: absolute;
    left: 300px;
    color: #fff;

}



#User {

    width: 200px;
    height: 300px;
    right: 100px;
    top: 15px;
    position: absolute;
}

#entrenamiento {

    right: 1000px;
    top: 850px;
    position: absolute;
    color: #fff;
    @font-face {
        font-family: 'BloomMondayDemo';
        src: url('font/BloomMondayDemo.ttf');
    }

}

#titulo2 {

    top: 850px;
    position: absolute;
    left: 1400px;
    color: #fff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #0d0d0d, #303030);
    color: #fff;
    padding: 20px;
    box-shadow: 0 px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

header img {
    max-width: 100%;
    height: 100px;
    width: 300px;

}

img {
    width: 100px;
    height: auto;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

nav ul li a:hover {
    text-decoration: none;
}

nav ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
}

nav ul li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}